@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  list-style: none;
}

.margin {
  margin-left: 8.75rem;
  margin-right: 8.75rem;
}
.padding {
  padding-left: 8.75rem;
  padding-right: 8.75rem;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5625rem 3.125rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.primary{
  background-color: var(--main-blue);
  color: var(--white);
}

.secondary{
  background-color: var(--dim-white);
  color: var(--black);
}
  
.active {
    font-weight: 700;
}

h2{
  font-size: 3.25rem;
  line-height: 120%;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
}
  
h4 {
    font-size: 2.25rem;
}
h5 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 130%;
}


:root{
    --main-blue: #1680c4;
    --light-blue: #3B96C4;
    --black: #171515;
    --white: #fff;
    --dim-white: #E9E9E9;
    --purple: #682DE5;
    --yellow: #FFB801;
    --green: #00FF0A;
    --cyan: #3CC1FA;
    --magenta: rgb(255, 0, 255);
    --dark-green: #0fb492;
    --gray: #646464;
    --red: #ED1C24;
}

body{
	min-height: 100vh;
	background: var(--bg-color);
	/* color: var(--main-blue); */
}

.whole-container{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 999;
}
.whole-container-small{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* ------------------navbar------------------- */
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: 1rem 0;
	transition: all .50s ease;
    /* border: 1px solid red; */
}

header.sticky{
  box-shadow: 1px 5px 40px rgba(0, 0, 0, 0.1);
}

.logo{
	display: flex;
	align-items: center;
    width: 5rem;
    height: auto;
}

.logo img{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar{
	display: flex;
    gap: 1.7rem;
    z-index: 100000;
}
.navbar a{
	color: var(--main-blue);
	font-size: 1rem;
	font-weight: 500;
	padding: 5px 0;
	/* margin: 0px 30px; */
	transition: all .5s ease;
}
.navbar a:hover{
	color: var(--main-blue);
    font-weight: 500;
    transition: all .5s ease;
}
.navbar a.active{
	color: var(--main-blue);
    font-weight: 600;
}
.main{
	display: none;
	align-items: center;
}

#menu-icon{
	font-size: 35px;
	color: var(--main-blue);
	cursor: pointer;
	z-index: 10001;
	display: none;
}

header .share{
    display: flex;
    color: var(--main-blue);
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

header .share a{
  color: var(--main-blue);
}

/* ------------------hero section ------------------------ */

#hero-container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    height: 70vh;
    margin-top: 15.5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero-info{
    display: flex;
    flex-direction: column;
    width: 43%;
    margin: 0 7.5rem;
    color: var(--main-blue);
}

.hero-info h3{
    font-size: 2.75rem;
}

.hero-info p{
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 170%;
    color: var(--black);
}

.hero-info button{
    width: 200px;
    background-color: var(--main-blue);
    color: var(--white);
    font-size: 14px;
}

/* .hero-info button a{
  color: var(--white);
} */

/* -------------------------------cta ---------------------------- */

#cta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid red; */
}

.cta1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

.cta1 a{
    color: var(--main-blue);
    margin-left: 1rem;
}


/* .border{
    border-left: 1px solid rgba(0, 0, 0, 0.14);
    border-right: 1px solid rgba(0, 0, 0, 0.14);
} */

.cta1:nth-child(2)::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.14);
    left: 0;
    top: 20%;

}
.cta1:nth-child(2)::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.14);
    right: 0;
    top: 20%;

}

/* ------------------hero section ------------------------ */

/* ----------------------clinic description section ------------------------- */
#clinic_desc {
    display: flex;
    background-color: #F2FAFF;
    padding: 0rem 5rem;
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    justify-content: space-between;
  }

  #clinic_desc .internal_container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }

  #clinic_desc .internal_container .left_section {
    width: 40%;
    max-height: 25rem;
    height: 23rem;
  }

  #clinic_desc .internal_container .left_section img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 5px;
  }

  #clinic_desc .internal_container .right_section {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  #clinic_desc .internal_container .right_section h4 {
    text-align: center;
    font-weight: 500;
    color: #1680C4;
    font-size: 2rem;
  }


  #clinic_desc .internal_container .right_section p {
    margin: 2.5rem 0;
    text-align: center;
    line-height: 170%;
  }
 
  #clinic_desc .internal_container .right_section .service_info {
    display: flex;
    gap: 3rem;
  }

  #clinic_desc .internal_container .right_section .service_info .info_box {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    height: 9.375rem;
    background-color: #fff;
    border-radius: 5px;
    border-color: #E6E6E6;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
  }

  #clinic_desc .internal_container .right_section .service_info .info_box i {
    font-size: 1.5rem;
    color: #1680C4;
    font-weight: 500;
  }
  #clinic_desc .internal_container .right_section .service_info .info_box p {
    font-size: 1rem;
    color: #171515;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  #clinic_desc .internal_container .right_section .service_info .info_box span {
    color: rgba(0, 0, 0, 0.44);
  }
  



  /* ------------------------------contact section ---------------------------- */

  
#contact_info {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }


  #contact_info::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  #contact_info .contact_internal-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1440px;
  }


  #contact_info .contact_internal-box .contact_left {
    width: 40%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }



  #contact_info .contact_internal-box .contact_left .contact_title {
    color: var(--white);
  }



  #contact_info .contact_internal-box .contact_left .contact_title h4 {
    margin-bottom: 1rem;
  }

  #contact_info .contact_internal-box .contact_left .contact_title p {
    color: var(--white);
    line-height: 150%;
    margin-bottom: 2rem;
  }

  .appointment-cta{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .appointment-cta button{
    background-color: var(--main-blue);
    color: var(--white);
    font-size: 14px;
  }

  .appointment-cta button i{
    padding-left: .6rem;
  }

  /* --------------------right container ------------------ */

  #contact_info .contact_internal-box .contact_right {
    z-index: 100;
    display: flex;
    gap: 2rem;
    width: 49.5%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #contact_info .contact_internal-box .contact_right .opening_hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #contact_info .contact_internal-box .contact_right .opening_hours h5 {
    color: var(--white);
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  #contact_info .contact_internal-box .contact_right .opening_hours h5:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 1.5008px;
    top: 110%;
    background-color: var(--white);
    left: 17.5%;
  }
  #contact_info .contact_internal-box .contact_right .opening_hours ul {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  #contact_info .contact_internal-box .contact_right .opening_hours ul li {
    color: var(--white);
    list-style: none;
    display: flex;
  }
  #contact_info .contact_internal-box .contact_right .opening_hours ul li span {
    font-weight: 600;
    padding-right: .3125rem;
  }
  #contact_info .contact_internal-box .contact_right .contact_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact_info .contact_internal-box .contact_right .contact_info h5 {
    color: var(--white);
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  #contact_info .contact_internal-box .contact_right .contact_info h5:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 1.5008px;
    top: 110%;
    background-color: var(--white);
    left: 15%;
  }
  #contact_info .contact_internal-box .contact_right .contact_info ul {
    display: flex;
    gap: 2rem;
  }

  #contact_info .contact_internal-box .contact_right .contact_info ul li {
    color: var(--white);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  #contact_info .contact_internal-box .contact_right .contact_info ul li a{
    color: var(--white);
  }
  
  #contact_info .contact_internal-box .contact_right .contact_info ul li i {
    padding-right: 1rem;
    font-size: 1.1rem;
  }


  /* -------------------------------------------services section --------------------------------- */

  
#services {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #services .services_title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #services .services_title h5 {
    position: relative;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #services .services_title h5::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    top: 105%;
    background-color: #171515;
    left: 10%;
  }
  #services .service_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    padding: 2rem;
    max-width: 1440px;
    margin: 2rem auto 0;
  }

  #services .service_container .serv-1 {
    border-right: 1px solid var(--dim-white);
    border-bottom: 1px solid var(--dim-white);
  }


  #services .service_container .serv-2 {
    border-right: 1px solid var(--dim-white);
    border-bottom: 1px solid var(--dim-white);
  }

  #services .service_container .serv-3 {
    border-bottom: 1px solid var(--dim-white);
  }
  #services .service_container .serv-4 {
    border-right: 1px solid var(--dim-white);
  }

  #services .service_container .serv-5 {
    border-right: 1px solid var(--dim-white);
  }

  #services .service_container .service_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
  }

  #services .service_container .service_desc i {
    color: var(--purple);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #services .service_container .service_desc .item-2 {
    color: var(--yellow);
  }
  #services .service_container .service_desc .item-3 {
    color: var(--green);
  }
  #services .service_container .service_desc .item-4 {
    color: var(--cyan);
  }
  #services .service_container .service_desc .item-5 {
    color: var(--magenta);
  }
  #services .service_container .service_desc .item-6 {
    color: var(--dark-green);
  }
  #services .service_container .service_desc span {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  #services .service_container .service_desc p {
    font-size: .9rem;
    line-height: 170%;
  }



  /* -----------testimonials section below ------------------- */


  #testimonials {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 0;
    padding-left: 0;
}

  #testimonials::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(22, 128, 196, 0.6);
    position: absolute;
    top: 0;
    left: 0;
  }
  #testimonials .testimoniasl_title {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  #testimonials .testimoniasl_title h5 {
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 3rem;
    color: var(--white);
  }

  #testimonials .testimoniasl_title h5::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    top: 105%;
    background-color: #fff;
    left: 10%;
  }
  #testimonials .customer-review_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 100;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    row-gap: 5rem;
    margin-top: 2rem;
    /* max-width: 1440px;
    margin: 2rem auto 0; */
  }

  #testimonials .customer-review_container .customer_review {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  #testimonials .customer-review_container .customer_review p {
    font-size: 1rem;
    line-height: 170%;
    color: #171515;
    font-weight: 500;
    counter-reset: #171515;
  }


  #testimonials .customer-review_container .customer_review .client-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
  #testimonials .customer-review_container .customer_review .client-info img {
    width: 5.625rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    aspect-ratio: 1/1;
  }
  #testimonials .customer-review_container .customer_review .client-info .client_name span {
    font-weight: 600;
    color: #686868;
  }



  /* ------------------ stories ---------------------------- */

  #stories{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 6rem;
    position: relative;
  }


  #stories .stories-container .stories-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3rem 0;
  }

  #stories .stories-container h5{
    font-size: 1.45rem;
    font-weight: 500;
    position: relative;
    /* text-align: center; */
  }

  
  #stories .stories-container h5::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    top: 130%;
    background-color: var(--black);
    left: 0%;
  }

  .stories-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 3px solid magenta ; */
    gap: 2rem;
  }

  .story-box{
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
  }

  .story-image {
    border-radius: 3px;
    max-width: 350px;
    width: 100%;
    margin-top: 2rem;
    max-height: 200px;
    min-height: 200px;
    

  }
  .story-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
  }


  .story-title{
    padding: .6rem;
    /* border: 1px solid red; */
  }
  .story-title p{
    font-weight: 500;
    font-size: .9rem;
    line-height: 150%;
  }

  .story-box>a{
    padding-left: .6rem;
    /* border: 1px solid red; */
    width: 6.875rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-weight: 600;
    font-size: .875rem;
    color: var(--main-blue);
    position: relative;
  }

  .story-box a::after{
    position: absolute;
    content: "";
    top: 110%;
    left: .6rem;
    height: 1px;
    background-color: var(--main-blue);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    width: 70%;
    transform-origin: bottom left;
  }

  .story-box a:hover:after{
    transform: scale(1);
    opacity: 1;
    transform-origin: bottom right;
  }

  #stories .stories-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

  #stories button{
    margin-top: 2rem;
    background-color: var(--main-blue);
    width: auto;
    color: var(--white);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: .9rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }

  #stories button i{
    padding-left: .5rem;
  }


  #stories .news-container{
    /* border: 1px solid magenta; */
    margin-top: 8rem;
  }
  #stories .news-container .news-title{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 1rem 0;
  }

  #stories .news-container .news-title h5{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    /* text-align: center; */
  }

  #stories .news-container .news-title h5::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 1.5008px;
    top: 130%;
    background-color: var(--black);
    left: 0%;
  }

  #stories .news-container .news-boxes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  #stories .news-container .news-box{
    display: flex;
    gap: 1rem;
  }

  #stories .news-container .news-box .news-image {
    border-radius: 3px;
    max-width: 90px;
    width: 100%;
    /* margin-top: 2rem; */
    max-height: 90px;
    min-height: 90px;
    /* border: 1px solid red; */
}

  #stories .news-container .news-box .news-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    /* aspect-ratio: 1/1; */
  }

  #stories .news-container .news-box .news-box-title {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    width: 100%;
    gap: .5rem;
    /* border: 1px solid orange; */
}

  #stories .news-container .news-box .news-box-title p{
    font-weight: 500;
    font-size: .9rem;
    line-height: 150%;
    cursor: pointer;
    color: var(--black);
    
  }

  #stories .news-container .news-box .news-box-title a{
    font-size: .9rem;
    font-weight: 600;
    color: var(--main-blue);
    position: relative;
  }

  #stories .news-container .news-box .news-box-title a i{
    padding-left: .3rem;
  }

  #stories .news-container .news-box .news-box-title a::after{
    position: absolute;
    content: "";
    top: 110%;
    left: 0rem;
    height: 1px;
    background-color: var(--main-blue);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    width: 50%;
    transform-origin: bottom left;
  }

  #stories .news-container .news-box .news-box-title a:hover:after{
    transform: scale(1);
    opacity: 1;
    transform-origin: bottom right;
  }
 



  /* ---------------footer section -------------------------- */

  #footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10rem;
    
    
  }

  .footer-left{
    display: flex;
    flex-direction: column;
    background-color: var(--main-blue);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .footer-desc{
    display: flex;
    flex-direction: column;
  }

  .footer-logo{
    width: 110px;
    aspect-ratio: 1/1;
  }

  .footer-logo img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  .footer-desc .desc-paragraph{
    color: var(--white);
    line-height: 170%;
    margin-top: 1.5rem;
  }

  #footer .footer-contact_information {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    /* margin-bottom: 3rem; */
  }

  #footer .footer-contact_information h5 {
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
    color: var(--white);
  }
  #footer .footer-contact_information h5::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    top: 130%;
    background-color: var(--white);
    left: 0%;
  }

  #footer .footer-contact_information span {
    line-height: 150%;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--white);
  }
  #footer .footer-contact_information ul {
    display: flex;
    flex-direction: column;
  }
  #footer .footer-contact_information ul li {
    list-style: none;
    line-height: 150%;
    color: var(--white);
  }
  #footer .footer-contact_information ul li i {
    padding-right: .5rem;
  }


  /* --------------------------- right container -------------------  */

  #footer .footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--white);
  }

  #footer .footer-right .socials-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
  }

  #footer .footer-right .socials-link h5{
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    color: var(--black);
  }

  #footer .footer-right .socials-link .social-icons{
    display: flex;
    gap: 1rem;
  }

  #footer .footer-right .socials-link .social-icons .icon{
    width: 45px;
    aspect-ratio: 1/1;
  }

  #footer .footer-right .socials-link .social-icons img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }


  /* ----------------stories container------------------ */

  #footer .footer-right .stories-main-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #footer .footer-right .stories-main-container h5{
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    color: var(--black);
    margin-bottom: 1rem;
  }

  #footer .footer-right .stories-main-container .story-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
  }

  #footer .footer-right .stories-main-container h5{
    text-align: center;
  }

  .story-container-box{
    min-width: 6.25rem;
    width: 6.25rem;
    aspect-ratio: 1/1;
  }

  .story-container-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
  }

  /* --------------------- donation container ---------------- */

  .donation{
    display: flex;
    flex-direction: column;
  }

  .donation p{
    text-align: center;
    font-weight: 500;
  }

  .donation .payment-gateway{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

  }

  .donation .payment-gateway img{
    width: 120px;
    height: auto;
  }


 
#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  background-color: var(--white);
  color: var(--main-blue);
}
#copyright p {
  font-size: .9rem;
  font-weight: 500;
  text-align: center;
  line-height: 170%;
}



/* ============================= about page start ============================= */
#open-time{
  margin-top: 20vh;
  display: flex;
  gap: 1rem;
}
#open-time button{
  font-size: .875rem;
  padding: 1.5625rem 1.875rem;
  cursor: auto;
}

#about-title{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  
}

#about-title p{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--gray);
  margin: 1rem 0;
}

#about-images{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  /* border: 1px solid red; */
  margin-top: 2rem;
}

#about-images .big-image{
  min-width: 700px;
}

#about-images .big-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  min-height: 400px;
}

#about-images .small-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  
}

#about-images .small-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  min-width: 400px;
  min-height: 190px;
  max-height: 200px;
  border-radius: 5px;
}

#about-details{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

#about-details .about-details_left p{
  margin: 2rem 0;
  padding-right: 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 170%;
}

#about-details .about-details_left .open-time{
  display: flex;
  gap: 5rem;
}

#about-details .about-details_left .open-time .work h5{
  position: relative;
  font-size: 22px;
}

#about-details .about-details_left .open-time .work h5::after{
  position: absolute;
  content: "";
  width: 65%;
  height: 2px;
  background-color: var(--black);
  top: 100%;
  left: 0;
}

#about-details .about-details_left .open-time .work .short{
  position: relative;
}

#about-details .about-details_left .open-time .work .short::after{
  position: absolute;
  content: "";
  width: 45%;
  height: 2px;
  background-color: var(--black);
  top: 100%;
  left: 0;
}

#about-details .about-details_left .open-time .work table{
  margin-top: 2rem;
}

#about-details .about-details_left .open-time .work table td{
  padding-right: 10px;
  line-height: 200%;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
}

#about-details .about-details_right iframe{
  width: 100%;
  height: 100%;
  margin: 2rem 0;
  min-height: 550px;
  max-height: 600px;
  border-radius: 5px;
}



/* =============================== about page end ============================== */

/* =============================== contact page start ============================== */


#contact-us{
  /* height: 60vh; */
  margin-top: 16vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* border: 1px solid red; */
}

#contact-us .contact-us_left{
  margin-left: 8.75rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
  position: relative;
}

#contact-us .contact-us_left h2{
  /* margin-top: 9rem; */
  margin-bottom: 1rem;
}

#contact-us .contact-us_left > p{
  font-size: 18px;
  line-height: 150%;
  padding-right: 40px;
}

#contact-us .contact-us_left .appointment-form{
  /* background-color: var(--light-blue); */
  padding-right: 40px;
  /* color: var(--white); */
  bottom: 25%;
  left: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}

#contact-us .contact-us_left .appointment-form form{
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  flex-direction: column;
}

#contact-us .contact-us_left .appointment-form form .one-line-field{
  display: flex;
  gap: 2rem;
}

#contact-us .contact-us_left .appointment-form .field{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contact-us .contact-us_left .appointment-form .field label{
  font-size: 14px;
  margin-bottom: .6rem;
  font-weight: 600;
}

#contact-us .contact-us_left .appointment-form .field input{
  width: 250px;
  padding: .8rem 1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  font-size: .9375rem;
  color: var(--gray);
}

#contact-us .contact-us_left .appointment-form .field select{
  width: 250px;
  padding: .8rem 1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  font-size: .9375rem;
  color: var(--gray);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("img/arrow.png");
  background-repeat: no-repeat;
  background-size: .625rem;
  background-position: calc(100% - 10px) center;
  
}

#contact-us .contact-us_left .appointment-form .field select option{
  font-size: .9375rem;
  color: var(--gray);
  text-transform: capitalize;
  border-radius: 2px;
  line-height: 150%;
  border: 1px solid red;
}

#contact-us .contact-us_left .appointment-form .field button{
  padding: .9rem 1.5rem;
  height: auto;
  background-color: var(--main-blue);
  color: var(--white);
  width: 15.625rem;
}
#contact-us .contact-us_left .appointment-form .field button i{
  padding-right: 1rem;
}

#contact-us .contact-us_right{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-top-left-radius: 5px;
  /* border-bottom-left-radius: 5px; */
  /* margin-left: 20px; */

}

#contact-us .contact-us_right {
  padding-right: 8.75rem;
  min-width: 40vh;
  height: 90vh;
}
#contact-us .contact-us_right iframe{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

/* =============================== contact page end ============================== */
  
  /* ----------------------responsive design queries below ----------------------------- */


@media (max-width: 1280px){
	header{
		padding: 14px 2%;
		transition: .2s;
	}

    #clinic_desc .internal_container .left_section {
      width: 45%;
    }

     #clinic_desc .internal_container .right_section h4 {
      font-size: 1.8rem;
    }

     #clinic_desc .internal_container .right_section p {
      margin: 1.3rem 0;
    }

     #clinic_desc .internal_container .right_section .service_info {
      gap: 2rem;
      justify-content: space-between;
    }

      #clinic_desc .internal_container .right_section .service_info .info_box {
      width: 30%;
    }


    /* ----------------contacts------ */

    #contact_info {
        height: 100vh;
      }

    #contact_info .contact_internal-box .contact_left {
        width: 47%;
    }

    #contact_info .contact_internal-box .contact_right {
        width: 45%;
    }

    #contact_info .contact_internal-box .contact_right .opening_hours ul {
        align-items: center;
        justify-content: center;
    }

    #contact_info .contact_internal-box .contact_right .contact_info ul {
        flex-direction: column;
    }


    /* ----------services --------------- */

    #services .service_container .service_desc {
        padding: 1.5rem;
    }

   /* ---------------- footer ------------ */

}



@media (max-width: 1090px){
	#menu-icon{
		display: block;
	}

  .padding {
        padding-left: 2rem;
        padding-right: 2rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    min-height: 60vh;
    height: 60vh;
    background: var(--main-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    transition: all .50s ease;
  }

	.navbar a{
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
    color: var(--white);
	}
	.navbar a:hover{
	  color: var(--white);
	}
	.navbar a.active{
		color: var(--white);
	}
	.navbar.open{
		right: 0%;
	}

    .main{
        display: flex;
        align-items: center;
    }
    header .share{
        color: var(--main-blue);
        /* width: 7rem; */
        justify-content: space-between;
        align-items: center;
        display: none;
    }
    
    header .share span{
        font-weight: 500;
    }


    /* -------------------------- */

    #clinic_desc .internal_container {
      flex-direction: column;
    }

    #clinic_desc .internal_container .left_section {
      width: 100%;
    }

    #clinic_desc .internal_container .right_section {
      width: 100%;
      margin-top: 3rem;
    }

    #clinic_desc .internal_container .right_section h4 {
      text-align: left;
    }

     #clinic_desc .internal_container .right_section p {
      text-align: left;
      margin-bottom: 3rem;
    }




    /* -----------------contact section ----------------- */


    #contact_info {
        height: auto;
    }

    /* #contact_info {
        height: 80vh;
    } */

    #contact_info .contact_internal-box {
        flex-direction: column;
    }

    #contact_info .contact_internal-box .contact_left {
        width: 100%;
        align-items: center;
    }

    #contact_info .contact_internal-box .contact_left .contact_title {
        margin-bottom: 1rem;
        text-align: center;
    }


    #contact_info .contact_internal-box .contact_right {
        width: 100%;
        margin-top: 5rem;
    }

    
    /* -----------------------services section ------------------- */

    #services .service_container {
        grid-template-columns: repeat(2, 1fr);
    }

    #services .service_container .serv-2 {
      border-right: none;
    }

    #services .service_container .serv-3 {
      border-right: 1px solid var(--dim-white);
    }
    #services .service_container .serv-4 {
      border-right: none;
      border-bottom: 1px solid var(--dim-white) ;
    }



    /* ----------------- testimonials section ----------------- */
      #testimonials .testimoniasl_title h5 {
          margin-bottom: 1.5rem;
      }

      #testimonials .customer-review_container {
        grid-template-columns: repeat(1, 1fr);
        -moz-column-gap: 5rem;
             column-gap: 5rem;
        row-gap: 2rem;
      }
    
      /* ------------------------ stories section --------------- */


      #stories{
        grid-template-columns: 3fr;
        gap: 3rem;
      }

      .stories-boxes { 
        grid-template-columns: repeat(2, 1fr);
      }

      #stories .news-container .news-boxes {
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
      }

      #stories .news-container .news-box {
        flex-direction: column;
      }

      #stories .news-container .news-box .news-image {
        height: 200px;
        max-width: 350px;
        max-height: 300px;
        min-height: 150px;
      }

      #stories .news-container .news-box .news-box-title {
          max-width: none;
          padding: 0rem .5rem;
      }

}


@media(max-width: 915px){
  #hero-container {
    min-height: 0;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem ;
  }

  .hero-info {
    width: 55%;
}

  #services .service_container {
    padding: 0rem;
}
}


@media(max-width: 825px){
  .margin{
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .hero-info {
    width: 60%;
}

  #footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-desc {
    align-items: center;  
  }
  .footer-desc .desc-paragraph {
    text-align: center;
  }

  #footer .footer-contact_information {
    align-items: center;
  }

  #footer .footer-contact_information span {
    text-align: center;
  }
  #copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: var(--main-blue);
    color:  var(--white);
  }
}

@media all and (max-width: 768px){
    #services .service_container {
        padding: 0;
    }

    #footer .footer-contact_information h5::after {
      width: 100%;
  }
}

@media all and (max-width: 550px){
  .hero-info {
    width: 100%;
    margin: 0 3rem;
  }

  #cta {
    grid-template-columns: repeat(1, 1fr);
  }

  .cta1 {
    justify-content: normal;
    padding: 2rem 0rem;
    margin-left: 3rem;
  }

  .cta1:nth-child(2)::before {
    width: 0;
  }

  .cta1:nth-child(2)::after {
    width: 0;
  }

  #clinic_desc {
    padding: 5rem 3rem;
  }
  
  #services .service_container .service_desc {
    padding: 1rem .5rem;
  }

  #services .service_container {
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem 3rem;
  }

  #services .service_container .serv-1 {
    border-right: none;
    border-bottom: 1px solid var(--dim-white);
  }
  #services .service_container .serv-3 {
    border-right: none;
  }
  #services .service_container .serv-5 {
    border-right: none;
    border-bottom: 1px solid var(--dim-white);
  }
  .stories-boxes {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 1rem;
  }
  .story-image {
    max-width: none;
    max-height: 250px;
    min-height: 250px;
  }

  #copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background-color: var(--main-blue);
    color:  var(--white);
  }
}

@media all and (max-width: 480px){

  .margin {
    margin-left: 1rem;
    margin-right: 1rem;
  }
    .hero-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 2rem;
        color: var(--main-blue);
    }

    .hero-info h3 {
      font-size: 2rem;
      font-weight: 500;
    }

  #clinic_desc .internal_container .left_section {
    max-height: 25rem;
    height: 20rem;
  }

    #clinic_desc {
      padding: 4rem 2rem;
    }

    #contact_info {
        height: auto;
    }

    #contact_info .contact_internal-box .contact_left .contact_title h4 {
        text-align: center;
    }

    #contact_info .contact_internal-box .contact_left .contact_title p {
        text-align: center;
    }


    /* --------------------services container ------------------ */

    #services .service_container {
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem 0rem;
    }

    /* --------------------testimonials section --------------- */

    #testimonials .customer-review_container .customer_review {
        padding: 2rem 2rem;
      }

      #testimonials .customer-review_container .customer_review p {
        font-size: .9rem;
      }

      #testimonials .customer-review_container .customer_review .client-info .client_name span {
        font-size: .9rem;
      }


      /* --------------------stories / news ------------------ */


      #stories .news-container {
        /* border: 1px solid magenta; */
        margin: 0 1rem;
        /* margin-top: 8rem; */
      }

      #stories .news-container .news-box .news-image {
        max-width: none;
      }

      #stories .news-container .news-boxes {
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        gap: 3rem;
      }

      #stories .stories-container .stories-title {
        margin-left: 1rem;
    }

   


      /* ------------------ footer ---------------- */
      #footer .footer-right .stories-main-container .story-container {
        grid-template-columns: repeat(3, 1fr);
    }
      
}